.card-container {
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    height: 150px;
    width: 300px;
    background-color: white;
    border-radius: 4px;
    color: rgb(5, 4, 4);
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .card h3 {
    font-weight: 800;
    margin-bottom: 8px;
  }
  
  .enter-repo {
    align-self: flex-end;
  }
  
  
  